
{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<div class="mx-4">
    <p class="mb-5">Recupérez votre mot de passe ici!</p>
    {{ form_start(form) }}
        <div class="form-group">
            <label>{{ form_label(form.email) }}:</label>
            <div>{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}</div>
            <small id="emailHelp" class="form-text text-muted">{{ form_help(form.uremaill) }}</small>
        </div>        
        <button class="btn btn-lg btn-primary" type="submit">Recupérez</button>
    {{ form_end(form) }}
</div>{% include 'footer.html.twig' %}
{% endblock %}