{% extends 'base.html.twig' %}

{% block title %}Creation d'un trick{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/collectionAddVideo.js') }}"></script>
{% endblock %}
{% block body %}
{% include 'header.html.twig' %}
    <main>
        <article class="mx-5">
            <h3 class="mb-5 margin-user text-shadow-drop-right text-center">Créez un trick ici !</h3>
            {{ form_start(form) }}
                <section class="text-danger">{{ form_errors(form) }}</section>
                <section class="form-group">
                    <div class="text-danger">{{ form_errors(form.Name) }}</div>
                    {{ form_label(form.Name) }}
                    <div>{{ form_widget(form.Name, { 'attr': {'class': 'form-control'} }) }}</div>
                    <small class="form-text text-muted">{{ form_help(form.Name) }}</small>
                </section>
                <section class="form-group">
                    <div class="text-danger">{{ form_errors(form.description) }}</div>
                    {{ form_label(form.description) }}
                    <div>{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}</div>
                    <small class="form-text text-muted">{{ form_help(form.description) }}</small>
                </section>
                <section class="form-group">
                    <div class="text-danger">{{ form_errors(form.picture) }}</div>
                    {{ form_label(form.picture) }}
                    <div class="file-user">{{ form_widget(form.picture) }}</div>
                    <small class="form-text text-muted">{{ form_help(form.picture) }}</small>
                </section>
                <section class="form-group">
                    <div class="text-danger">{{ form_errors(form.images) }}</div>
                    {{ form_label(form.images) }}
                    <div class="file-user">{{ form_widget(form.images) }}</div>
                    <small class="form-text text-muted">{{ form_help(form.images) }}</small>
                </section>
                <ul class="videos" id="video_list" style="list-style:none;" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                    {{ form_label(form.videos) }} : 
                    {% for row in form.videos %}
                        <li>{{ form_widget(form.videos) }}</li>
                    {% endfor %}
                </ul>
                <section class="form-group">
                    {{ form_label(form.categoryId) }}
                    <div>{{ form_widget(form.categoryId, { 'attr': {'class': 'form-control'} }) }}</div>
                    <small class="form-text text-muted">{{ form_help(form.categoryId) }}</small>
                </section>
                <button class="btn btn-outline-primary mb-4" type="submit">Creez</button>
            {{ form_end(form) }}
        </article>
    </main>
{% endblock %}