{% extends 'base.html.twig' %}

{% block title %}Modifiez un trick{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<div class="mx-4">
    <p class="mb-5">Modifiez un trick ici!</p>
    {{ form_start(form) }}
        <div class="text-danger">{{ form_errors(form) }}</div>
        <div class="form-group">
            <div class="text-danger">{{ form_errors(form.Name) }}</div>
            <label>{{ form_label(form.Name) }}:</label>
            <div>{{ form_widget(form.Name, { 'attr': {'class': 'form-control'} }) }}</div>
            <small id="emailHelp" class="form-text text-muted">{{ form_help(form.Name) }}</small>
        </div>
        <div class="form-group">
            <div class="text-danger">{{ form_errors(form.description) }}</div>
            <label>{{ form_label(form.description) }}:</label>
            <div>{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}</div>
            <small id="emailHelp" class="form-text text-muted">{{ form_help(form.description) }}</small>
        </div>
        <p>Image principale sur ce trick</p>
        
        <img style="width: 150px; height: 115px;" src="/uploads/pictures/{{ trick }}" alt="Trick">
        <div class="form-group">
            <div class="text-danger">{{ form_errors(form.picture) }}</div>
            <label>{{ form_label(form.picture) }}:</label>
            <div>{{ form_widget(form.picture) }}</div>
            <small id="emailHelp" class="form-text text-muted">{{ form_help(form.picture) }}</small>
        </div>
        <div class="form-group">
            <label>{{ form_label(form.categoryId) }}:</label>
            <div>{{ form_widget(form.categoryId, { 'attr': {'class': 'form-control'} }) }}</div>
            <small id="emailHelp" class="form-text text-muted">{{ form_help(form.categoryId) }}</small>
        </div>
        <button class="btn btn-primary button-update-trick" type="submit">Modifiez</button>
    {{ form_end(form) }}
</div>{% include 'footer.html.twig' %}
{% endblock %}