{% extends 'base.html.twig' %}

{% block title %}Creation d'un trick{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/collectionAddVideo.js') }}"></script>
{% endblock %}
{% block body %}
{% include 'header.html.twig' %}
{{ form_start(form) }}
    {{ form_row(form.Name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.picture) }}
    {{ form_row(form.images) }}
    <ul class="videos" id="video_list" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
        {% for row in form.videos %}
        <li>{{ form_row(row) }}</li>
        {% endfor %}
    </ul>
    {{ form_row(form.categoryId) }}
{{ form_end(form) }}
{% include 'footer.html.twig' %}
{% endblock %}