{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
<header>
    <ul class="navbar navbar-dark bg-primary d-flex justify-content-around" >  
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="{{ path('home') }}/">Accueil</a></li>
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="{{ path('app_login') }}">Connexion</a></li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="{{ path('app_user', {id: app.user.id}) }}">User</a>
         {% endif %}
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="{{ path('app_register') }}">Inscription</a></li>
        {% if app.user %}
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="{{ path('app_logout') }}">deconnexion</a></li>
        {% endif %}
    </ul>
</header>
<img src="../uploads/pictures/homepage.jpg" class="bg">
<a href="#trick" class="button"><img src="../css/icons/arrow-down.svg" width="42" height="46" title="White flower" alt="Flower"></a>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('add_trick') }}">create</a>
{% endif %}
{% if app.user %}
    {{ app.user.pseudo }}
    {% endif %}
<div class="trick">
    <p id="trick"> Les tricks</p>
    <div class="row">
        {% for i in trick %}
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="" src="/uploads/pictures/{{ i.picture }}" alt="Trick" width="350" height="301">
                <div class="card-body">
                    <p>{{ i.name }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('one_trick', {id: i.id}) }}"><img src="../css/icons/trash-fill.svg" width="22" height="26" title="White flower" alt="Flower"></a>
                        <a href="{{ path('update_trick', {id: i.id}) }}"><img src="../css/icons/brush-fill.svg" width="22" height="26" title="White flower" alt="Flower"></a>
                    {% endif %}
                    <a href="{{ path('comment', {id: i.id, page: '1'}) }}">Lire la suite</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<footer class="text-white bg-primary mt-3 card-group">
    <div class="card-body">
        <p>Bienvenue sur mon blog professionel, vous pouvez voir nos posts <a class="text-success" href="/blog/posts/1">ici</a></p>
    </div>
    <div class="card-body">
        <div>
            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/Share" data-url="linkedin.com/in/thomas-da-silva-seabra"></script>
        </div>
        <div>
            <a class="text-success" href="Public/CVtype.pdf.zip">Mon CV est disponible ici!</a>
        </div>
    </div> 
    <div class="card-body">     
        <a class="text-success" href="/blog/connect">Connexion</a>
    </div>
</footer>
{% endblock %}