{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/buttonMoreTricks.js') }}"></script>
{% endblock %}
{% block body %}
    <header class="header">
        <ul class="navbar navbar-dark bg-primary d-flex justify-content-around" >  
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="{{ path('home') }}">Accueil</a></li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="nav-item list-inline-item">
                <a class="navbar-brand" href="{{ path('app_user', {id: app.user.id}) }}">Utilisateurs</a>
            {% endif %}
            {% if app.user %}
                <li class="nav-item list-inline-item">
                <a class="navbar-brand" href="{{ path('app_logout') }}">deconnexion</a></li>
            {% else %}
                <li class="nav-item list-inline-item">
                <a class="navbar-brand" href="{{ path('app_login') }}">Connexion</a></li>
                <li class="nav-item list-inline-item">
                <a class="navbar-brand" href="{{ path('app_register') }}">Inscription</a></li>
            {% endif %}
        </ul>
    </header>
    <main>
        <article class="" style="">
            <section class="home-picture">
            </section>
            <section class="text-center slogan">
                    <h1>Site communautaire SnowTricks</h1>
            </section>
            <section class="text-right mr-4">
                <a href="#trick" class="button"><img src="../css/icons/arrow-down-square.svg" width="42" height="46" title="White flower" alt="Flower"></a>
            </section>
        </article>
        {% if is_granted('ROLE_ADMIN') %}
            <article class="ml-4">
                <a href="{{ path('add_trick') }}"><img class="scale-up-center" src="../css/icons/plus.svg" width="50" height="50" title="White flower" alt="Flower"></a>
            </article>
        {% endif %}
        <article class="trick">
            <section class="text-center">
                <h3 id="trick"> Les tricks</h3>
            </section>
            {% for message in app.flashes('success') %}
                <section class="alert alert-success">
                    {{ message }}
                </section>
            {% endfor %}
            <section class="row mt-3 full-trick">
                {% for i in trick %}
                <div class="col-4 mb-3 card tricks border border-primary">
                    <img class="card-image pg" src="/uploads/pictures/{{ i.picture }}" alt="Trick">
                    <div class="card-body">
                        <p class="text-center">{{ i.name }}</p>
                        <div class="d-flex justify-content-around">
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if app.user.id == i.user.id %}
                                    <div>
                                        <a href="{{ path('one_trick', {slug: i.slug}) }}"><img class="scale-up-center" src="../css/icons/trash-fill.svg" width="22" height="26" title="White flower" alt="Flower"></a>
                                    </div>
                                    <div>
                                        <a href="{{ path('update_trick', {slug: i.slug}) }}"><img class="scale-up-center" src="../css/icons/brush-fill.svg" width="22" height="26" title="White flower" alt="Flower"></a>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="text-center">
                                <a class="btn btn-primary" href="{{ path('comment', {slug: i.slug, page: '1'}) }}">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
        </article>
        {% if trick|length > 6 %}
            <article class="text-center ">
                <a class="btn btn-outline-primary" href="#" id="loadMoreTrick">More<i class="fas fa-plus-circle fa-3x"></i></a>
                <a class="btn btn-outline-primary" href="#" id="loadLessTrick">Less<i class="fas fa-minus-circle fa-3x"></i></a>              
            </article>
        {% endif %}
        <article class="text-right mr-3 button-up">
            <a href="#trick"><img src="../css/icons/arrow-up-square.svg" width="42" height="46" title="White flower" alt="Flower"></a>
        </article>
    </main>
{% include 'footer.html.twig' %}
{% endblock %}