{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            
            {% for item in app.user %}
                <li><a href="{{ item.roles }}">{{ item.id }}</a></li>
            {% endfor %}
        </div>
    {% endif %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
<header>
    <ul class="navbar navbar-dark bg-primary d-flex justify-content-around" >  
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="{{ path('home') }}/">Accueil</a></li>
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="{{ path('app_login') }}">Connexion</a></li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="{{ path('app_user', {id: app.user.id}) }}">User</a>
         {% endif %}
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="{{ path('app_register') }}">Inscription</a></li>
    </ul>
</header>
<div>
<img src="uploads/pictures/homepicture.jpg" class="img-fluid" alt="Responsive image">
</div>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('add_trick') }}">create</a>
{% endif %}
<div>
    
    {% for i in trick %}
    
        <p>{{ i.id }}</p>
        <p>{{ i.name }}</p>
        
        <p>{{ i.description }}</p>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('delete_trick', {id: i.id}) }}">delete</a>
            <a href="{{ path('update_trick', {id: i.id}) }}">update</a>
        {% endif %}
        <img class="" src="/uploads/pictures/{{ i.picture }}" alt="Trick" width="400" height="341">
        <a href="{{ path('comment', {id: i.id}) }}">Lire la suite</a>
    {% endfor %}

</div>


{% endblock %}