{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% include 'header.html.twig' %}
<center>
    <img class="imagetrick" src="/uploads/pictures/{{ trick.picture }}" alt="Trick">
    </center>

{% if is_granted('ROLE_ADMIN') %}
    {% if app.user.id == trick.user.id %}
        <a href="{{ path('one_trick', {id: trick.id}) }}"><img src="/css/icons/trash-fill.svg" width="22" height="26" title="White flower" alt="Flower"></a>
        <a href="{{ path('update_trick', {id: trick.id}) }}"><img src="/css/icons/brush-fill.svg" width="22" height="26" title="White flower" alt="Flower"></a>
    {% endif %}
{% endif %}
<div class="mx-auto" style="width: 800px;">
    <div class="d-flex flex-wrap">
    {% for p in image %}
        <img class="bgbg" src="/uploads/pictures/{{ p.name }}" alt="Trick">
        {% if is_granted('ROLE_ADMIN') %}
            {% if app.user.id == trick.user.id %}
                <a href="{{ path('delete_image', {id: p.id, trickid: trick.id}) }}">delete image</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>

    <div class="d-flex flex-wrap">
        
        {% for v in video%}
            {% if v.url != null %}
                <iframe width="200" height="125"
                    src="{{ v.url}}">
                </iframe>
                {% if is_granted('ROLE_ADMIN') %}
                    {% if app.user.id == trick.user.id %}
                        <a href="{{ path('delete_video', {id: v.id, trickid: trick.id}) }}">delete video</a>
                    {% endif %}
                {% endif %}
            {% endif %}  
        {% endfor %}
        

    </div>
</div>
{% if is_granted('ROLE_ADMIN') %}
    {% if app.user.id == trick.user.id %}
        <a class="navbar-brand" href="{{ path('add_video', {id: trick.id}) }}">add video</a></li>
        <a class="navbar-brand" href="{{ path('add_image', {id: trick.id}) }}">addimage</a></li>
    {% endif %}
{% endif %}
<div class="mx-auto" style="width: 800px;">
    <p>{{ trick.name }}</p>
    <p>{{ trick.description }}</p>
    <p>{{ trick.categoryId.title }}</p>
</div>
<div>
<a class="navbar-brand" href="{{ path('home') }}">Retour a la liste des tricks</a></li>
    
</div>
<div class="mx-auto col-lg-8">
{% if is_granted('ROLE_ADMIN') %}
    {{ form_start(form) }}
        <div class="form-group">
            <label for="exampleInputEmail1">{{ form_label(form.content) }}:</label>
            <div>{{ form_widget(form.content, { 'attr': {'class': 'form-control'} }) }}</div>
            <small id="emailHelp" class="form-text text-muted">{{ form_help(form.content) }}</small>
            <button class="btn btn-primary" type="submit">Ajoutez</button>
        </div>
    {{ form_end(form) }}
{% else %}
    <a href="{{ path('app_login') }}">Connectez vous</a> ou <a href="{{ path('app_register') }}">inscrivez-vous</a> pour envoyer un commentaire sur ce trick!
{% endif %}
    {% for i in comment%}
    
        <img src="uploads/pictures/{{ i.userId.avatar }}">
        <p>{{ i.name }}</p>
        <p class="text-justify">{{ i.content }}</p>
        {% if is_granted('ROLE_ADMIN') %}
            {% if app.user.id == i.userId.id %}
                <a href="{{ path('delete_comment', {id: i.id, trickid: i.trick.id}) }}">delete comment</a>
                <a href="{{ path('update_comment', {id: i.id, trickid: i.trick.id }) }}">update comment</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if pagination.nbPages > 0 %}
    <ul class="pagination">
        {% if pagination.page > 1 %}
            <li>
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'id': trick.id, 'page': 1})) }} " class="comment_pagination">
                    <<
                </a>
            </li>
            <li>
                <a href="{{ path(pagination.nomRoute,
                    pagination.paramsRoute|merge({'id':trick.id, 'page': pagination.page-1})) }}" class="comment_pagination">
                    <
                </a>
            </li>
        {% endif %}

        {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.nbPages)) %}
            <li {% if p == pagination.page %}class="active"{% endif %}>
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'id': trick.id,'page': p})) }}">
                    {{ p }}
                </a>
            </li>
        {% endfor %}

        {% if pagination.page < pagination.nbPages %}
            <li>
                <a href="{{ path(pagination.nomRoute,
                    pagination.paramsRoute|merge({'id': trick.id, 'page': pagination.page+1})) }}" class="comment_pagination">
                    >
                </a>
            </li>
            <li>
                <a href="{{ path(pagination.nomRoute,
                    pagination.paramsRoute|merge({'id' :trick.id, 'page': pagination.nbPages})) }}" class="comment_pagination">
                    >>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
</div>
{% include 'footer.html.twig' %}
{% endblock %}