{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="http://localhost:8000/SnowTricks/logout">Logout</a>
            
            {% for item in app.user %}
                <li><a href="{{ item.roles }}">{{ item.id }}</a></li>
            {% endfor %}
        </div>
    {% endif %}
<header>
    <ul class="navbar navbar-dark bg-primary d-flex justify-content-around" >  
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="/blog/">Accueil</a></li>
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="/SnowTricks/login">connexion</a>
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="/blog/registration">Inscription</a></li>
    </ul>
</header>
<div>
    <p>{{ trick.name }}</p>
    <p>{{ trick.description }}</p>
    <p>{{ trick.picture }}</p>
</div>
<div>
    
    {% for i in comment%}
    
        <p>{{ i.id }}</p>
        <p>{{ i.name }}</p>
        <p>{{ i.content }}</p>
        <p>{{ i.trick.id }}</p>
        <a href="http://localhost:8000/SnowTricks/comment">Lire la suite</a>
    {% endfor %}

</div>


{% endblock %}