{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="http://localhost:8000/SnowTricks/logout">Logout</a>
            
            {% for item in app.user %}
                <li><a href="{{ item.roles }}">{{ item.id }}</a></li>
            {% endfor %}
        </div>
    {% endif %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
<header>
    <ul class="navbar navbar-dark bg-primary d-flex justify-content-around" >  
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="/blog/">Accueil</a></li>
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="/SnowTricks/login">connexion</a>
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="/blog/registration">Inscription</a></li>
    </ul>
</header>
<div>
    <p>{{ trick.name }}</p>
    <p>{{ trick.description }}</p>
    <p>{{ trick.picture }}</p>
</div>
<div>
    {% for v in video%}
        {{ v.url}}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('delete_video', {id: v.id}) }}">delete video</a>
        {% endif %}
    {% endfor %}
</div>
<div>
{% if is_granted('ROLE_ADMIN') %}
    {{ form(form) }}
{% endif %}
    {% for i in comment%}
    
        <p>{{ i.id }}</p>
        <p>{{ i.name }}</p>
        <p>{{ i.content }}</p>
        <p>{{ i.trick.id }}</p>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('delete_comment', {id: i.id, trickid: i.trick.id}) }}">delete comment</a>
            <a href="{{ path('update_comment', {id: i.id, trickid: i.trick.id }) }}">update comment</a>
        {% endif %}
    {% endfor %}

</div>


{% endblock %}