{% extends 'base.html.twig' %}

{% block title %}user profile{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <header>
    <ul class="navbar navbar-dark bg-primary d-flex justify-content-around" >  
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a></li>
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="{{ path('app_login') }}">Connexion</a></li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="nav-item list-inline-item">
            <a class="navbar-brand" href="{{ path('app_user', {id: app.user.id}) }}">User</a>
         {% endif %}
        <li class="nav-item list-inline-item">
        <a class="navbar-brand" href="{{ path('app_register') }}">Inscription</a></li>
    </ul>
</header>
        <p>{{ user.pseudo }}</p>
        <p>{{ user.email }}</p>
        <img src="../uploads/pictures/{{ user.avatar }}" class="" alt="avatar">
        
        <a class="navbar-brand" href="{{ path('update_user', {id: user.id}) }}">Modifier son pseudo ou son avatar</a></li>
{% endblock %}