{% extends 'base.html.twig' %}

{% block title %}user{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% include 'header.html.twig' %}
{% for u in user%}
    <p>{{ u.pseudo }}</p>
    <p>{{ u.email }}</p>
    <p>Compte validé?
    {% if u.enabled == true %}
        <p>oui</p>
    {% else %}
        <p>non</p>
    {% endif %}
    <img class="" src="/uploads/pictures/{{ u.avatar }}" alt="Trick" width="150" height="101">
    <a class="navbar-brand" href="{{ path('user_delete', {id: u.id}) }}">Supprimez</a></li>
{% endfor %}
{% include 'footer.html.twig' %}
{% endblock %}